/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
* {
  box-sizing: border-box;
}


.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background:rgb(230,126,34);
  transition: all 0.5s ease;

}

.sidebar.active{
  width: 60px;
}
.sidebar .nav-links{
  margin-top: 20px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 160px;
  
  
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background:rgb(230,126,34) ;

}
.sidebar .nav-links li a:hover{
  background: RGB(229, 93, 2 )
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color:rgb(240, 96, 0);
 
}
.sidebar .nav-links li a .links_name{
  color:rgb(107, 47, 7);
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;

}
.home-section{
  position: relative;
  background:white;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease
}
.select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
  border-radius: 60%;
}
.sellect {
	display:inline-block;
	position:flex;
	width: 32%;
	padding:6px 6px;}
.abc{
color:rgb(107, 47, 7);}
.def{  color:rgb(107, 47, 7);}