<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Two Products</h1>
    <form action="add_two_products.php" method="post">
        <label for="product1">Product 1</label>
        <input type="text" name="product1" id="product1">
        <label for="product2">Product 2</label>
        <input type="text" name="product2" id="product2">
        <input type="submit" value="Add">
</body>
</html>
